* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    height: 100%;
}
body {
    background-image: url(Berkeley.png);
    background-size: cover;
}
#top {
    background-color: #B4DFE5;
    display: flex;
    justify-content: center;
    height: 5rem;
    position: relative;
}
#title {
    color: #303c6c;
    font-size: 4rem;
}
.logo {
    height: 5rem;
    width: 5rem;
    background-image: url(GPLog.jpg);
    background-size: contain;
    position: absolute;
    left: 5rem;
}
#plus {
    position: absolute;
    right: 10rem;
    top: -0.3rem;
    font-size: 5rem;
}
.importance {
    display: flex;
    justify-content: space-between;
    height: 3rem;
}
.importance-block-1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #ee4c7c;
    height: 100%;
}
.importance-block-2 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
    background-color: #E3AFBC;
}
.importance-block-3 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
    background-color: #EEE2DC;
}
.importance-block-4 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
    background-color: #E3E2DF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.priority {
    display: flex;
    align-items: center;
    justify-content: center;
}
#background {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tasks {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    font-size: 1.2rem;
}
.newtasks {
    height: auto;
    width: 100%;
    background-color: #E3E2DF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 0.5 0 0.5rem;
    padding: 0.5rem;
    cursor: move;
}
.work-area {
    display: flex;
    flex-direction: row;
    height: 0;
    width: 100%;
}
.work1 {
    width: 100%;
    height: 83vh;
}
.work2 {
    width: 100%;
    height: 83vh;
}
.work3 {
    width: 100%;
    height: 83vh;
}
.work4 {
    width: 100%;
    height: 0;
    background-color: #E3E2DF;
}
.dragging {
    opacity: 0.5;
}

